<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%=book.title%> <br>
    <%=book.author%> <br>
    <%=book.currentPage%>/<%=book.totalPages%> <br>
    <% if (book.completed) { %>
      <img src="/img/bookTrophy.jpg">
    <% } %>
    <a href="/library"><button type="button" name="button"><-back</button></a>
    <a href="/library/<%=book.id%>/edit"><button type="button" name="button">edit</button></a>
    <form action="/library/<%=book.id%>?_method=DELETE" method="post">
      <input type="submit" name="" value="delete">
    </form>
  </body>
</html>
